:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(19, 10, 10, 0.87);
    background-color: #E6DDD4;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  div#root {
    background-color: #D2C0A7;
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  div.App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
  }

  content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60vh;
    padding: 20px;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 20px;
  }

  div.PredictionData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  a {
    color: #2C0AA7;
    text-decoration: none;
    text-decoration: underline;
  }

/* Responsive styling */
@media (max-width: 1200px) {
    div.App {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
}