form.data-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; /* Center the cells horizontally */
  align-items: center;   /* Center the cells vertically */
  gap: 1rem;
  width: 90%;
}

input[type="number"] {
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #E6DDD4;
  background-color: #E6DDD4;
  color: #212;
  border-radius: 5px;
  -moz-appearance: textfield; /* Firefox */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  margin: 0;
}

input[type="number"]:focus {
    outline: 2px solid #ABBB6C;
  }


button[type="submit"] {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  width: 30%;
  border-radius: 5px;
  background-color: #ABBB6C;
  font-size: large;
  color: #E6DDD4;
  font-weight: 700;
  cursor: pointer;
  box-shadow:  0 0 5px #564635;
  grid-column: span 2; 
}
button[type="submit"]:hover {
    background-color: #889D35;
}

/* Responsive styling */
@media (max-width: 768px) {
  form.data-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  input[type="number"] {
    width: 100%;
  }

  form.data-input button[type="submit"] {
    width: 60%;
  }
}